
@{
    ViewBag.Title = "ComextListadoPackingList";
    Layout = "~/Views/Compartida/_Layout.cshtml";
}

<style>
    .dx-datagrid {
        font: 12px Montserrat;
    }

    .dx-datagrid-headers .dx-header-row {
        color: black;
        font-family: Montserrat;
        font-size: 13px;
    }

    .dx-datagrid-headers .dx-header-row {
        font: 12px arial;
        background-color: #D7F1FF;
        /*background-color: #3355FF;*/
        color: black;
        font-weight: bold;
    }

    .dx-data-row {
        font-size: 10pt;
        padding: 2pt;
    }

    .dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell {
        vertical-align: top;
    }

    #tblIngresosdePacking {
        height: 700px;
    }
</style>
<br />

<div class="card shadow align-top">
    <div class="card-header">
        <h2>Packing List Registrados</h2>
        <br />
        @*<div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <h6>Busqueda:</h6>
                    <select class="form-control" aria-label="Default select example" id="TipoBusqueda">
                        <option value="1">Detalle ingresado</option>
                        <option value="2">Detalle no ingresado</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" onclick="ConsultarIngresosPacking()">
                        <i class="loading-icon fa fa-spinner fa-spin hide"></i>
                        <span class="btn-txt">Consultar</span>
                    </button>
                </div>
            </div>
        </div>*@
    </div>
    <div class="card-body">
        <div id="MensajeEliminacionCorecta" class="alert alert-danger collapse">
            <button id="LinkClose11" type="button" class="close">&times;</button>
            <strong>Eliminacion correcta!</strong>
        </div>
        <div id="MensajeEliminacionIncorecta" class="alert alert-danger collapse">
            <button id="LinkClose12" type="button" class="close">&times;</button>
            <strong>Error al Eliminar!</strong>
        </div>
        <div id="MensajeGuardado" class="alert alert-primary collapse">
            <button id="LinkClose5" type="button" class="close">&times;</button>
            <strong>Guardado Exitosamente!!</strong>
        </div>
        <div id="MensajeErrorGuardado" class="alert alert-danger collapse">
            <button id="LinkClose6" type="button" class="close">&times;</button>
            <strong>Error de Guardad0!!</strong>
        </div>
        <div id="MensajeErrorGeneral" class="alert alert-danger collapse">
            <button id="LinkClose7" type="button" class="close">&times;</button>
            <strong>Error General!!</strong>
        </div>
        <div id="MensajeErrorInesperado" class="alert alert-danger collapse">
            <button id="LinkClose2" type="button" class="close">&times;</button>
            <strong>Error Inesperado!</strong>
        </div>
        <div id="MensajeActulalizacionCorrecta" class="alert alert-primary collapse">
            <button id="LinkClose9" type="button" class="close">&times;</button>
            <strong>Actualizacion exitosa</strong>
        </div>
        <div id="MensajePackingSinDetalle" class="alert alert-danger collapse">
            <button id="LinkClose10" type="button" class="close">&times;</button>
            <strong>El packing list aun no se puede imprimir porque faltan detalles por ingresar!</strong>
        </div>

        <div class="form-group">
            <div class="row">
             
                <div class="col-md-12">
                    <div class="loader">
                        <div class="dx-viewport">
                            <div class="demo-container">
                                <div id="tblIngresosdePacking"></div>
                            </div>
                        </div>

                    </div>
                </div>
       

            </div>
        </div>
  
    </div>
</div>

<div class="modal fade" id="ModalAfirmacionFondoPacking" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header alert-primary">
                <h5 class="modal-title" id="exampleModalLongTitle">Va a utilizar una hoja membretada pre-impresa?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="AfirmacionEticketaPacking">Si</button>
                <button type="button" class="btn btn-primary" id="NgacionEticketaPacking">No</button>
            </div>
        </div>
    </div>
</div>