<link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<style>
    .dx-datagrid {
        font: 12px Montserrat;
    }
    .dx-datagrid-headers .dx-header-row {
        color: black;
        font-family: Montserrat;
        font-size: 13px;
    }
    .dx-datagrid-headers .dx-header-row {
        font: 12px arial;
        background-color: #D7F1FF;
        /*background-color: #3355FF;*/
        color: black;
        font-weight: bold;
    }
    .dx-data-row {
        font-size: 10pt;
        padding: 2pt;
    }
    .dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell {
        vertical-align: top;
    }
</style>
@{
    ViewBag.Title = "ListadoPackingList";
    Layout = "~/Views/Compartida/_Layout.cshtml";
}
@{
    var pais = ViewBag.Paises;
    var paisOrigen = ViewBag.PaisOrigencal;
}
<br />
<div class="card shadow align-top">
    <div class="card-header">
        <h2>Packing List Ingresados</h2>
        <br />
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <h6>Busqueda:</h6>
                    <select class="form-control" aria-label="Default select example" id="TipoBusqueda">
                        <option value="1">Exportacion</option>
                        <option value="2">Local</option>
                        @*<option value="3">Facturas Reserva</option>
                            <option value="4">Facturas</option>*@
                    </select>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" onclick="ConsultarIngresosPacking()">
                        <i class="loading-icon fa fa-spinner fa-spin hide"></i>
                        <span class="btn-txt">Consultar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="MensajeEliminacionCorecta" class="alert alert-danger collapse">
            <button id="LinkClose11" type="button" class="close">&times;</button>
            <strong>Eliminacion correcta!</strong>
        </div>
        <div id="MensajeEliminacionIncorecta" class="alert alert-danger collapse">
            <button id="LinkClose12" type="button" class="close">&times;</button>
            <strong>Error al Eliminar!</strong>
        </div>
        <div id="MensajeGuardado" class="alert alert-primary collapse">
            <button id="LinkClose5" type="button" class="close">&times;</button>
            <strong>Guardado Exitosamente!!</strong>
        </div>
        <div id="MensajeErrorGuardado" class="alert alert-danger collapse">
            <button id="LinkClose6" type="button" class="close">&times;</button>
            <strong>Error de Guardado!!</strong>
        </div>
        <div id="MensajeErrorGeneral" class="alert alert-danger collapse">
            <button id="LinkClose7" type="button" class="close">&times;</button>
            <strong>Error General!!</strong>
        </div>
        <div id="MensajeErrorInesperado" class="alert alert-danger collapse">
            <button id="LinkClose2" type="button" class="close">&times;</button>
            <strong>Error Inesperado!</strong>
        </div>
        <div id="MensajeActulalizacionCorrecta" class="alert alert-primary collapse">
            <button id="LinkClose9" type="button" class="close">&times;</button>
            <strong>Actualizacion exitosa</strong>
        </div>
        <div id="MensajePackingCompletos" class="alert alert-danger collapse">
            <button id="LinkClose10" type="button" class="close">&times;</button>
            <strong>Pallets completos, no puede ingresar más!</strong>
        </div>
        <div id="tblIngresosdePacking"></div>
    </div>
</div>

<div id="ModalListadoDePallets" class="modal fade" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="lblPalletsIngresados">Packing List</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="MensajeIngresarInformacionPacking" class="alert alert-danger collapse">
                    <button id="LinkCloseIngresarInformacionPacking" type="button" class="close">&times;</button>
                    <strong>Debe ingresar información del packing list antes !</strong>
                </div>
                <div id="MensajeEliminacionCorecta" class="alert alert-danger collapse">
                    <button id="LinkClose11" type="button" class="close">&times;</button>
                    <strong>Eliminacion correcta!</strong>
                </div>
                <div id="MensajeEliminacionIncorecta" class="alert alert-danger collapse">
                    <button id="LinkClose12" type="button" class="close">&times;</button>
                    <strong>Error al Eliminar!</strong>
                </div>
                <div id="MensajeGuardado" class="alert alert-primary collapse">
                    <button id="LinkClose5" type="button" class="close">&times;</button>
                    <strong>Guardado Exitosamente!!</strong>
                </div>
                <div id="MensajeErrorGuardado" class="alert alert-danger collapse">
                    <button id="LinkClose6" type="button" class="close">&times;</button>
                    <strong>Error de Guardad0!!</strong>
                </div>
                <div id="MensajeErrorGeneral" class="alert alert-danger collapse">
                    <button id="LinkClose7" type="button" class="close">&times;</button>
                    <strong>Error General!!</strong>
                </div>
                <div id="MensajeErrorInesperado" class="alert alert-danger collapse">
                    <button id="LinkClose2" type="button" class="close">&times;</button>
                    <strong>Error Inesperado!</strong>
                </div>
                <div id="MensajeActulalizacionCorrecta" class="alert alert-primary collapse">
                    <button id="LinkClose9" type="button" class="close">&times;</button>
                    <strong>Actualizacion exitosa</strong>
                </div>
                <div id="MensajePackingCompletos" class="alert alert-danger collapse">
                    <button id="LinkClose10" type="button" class="close">&times;</button>
                    <strong>Pallets completos, no puede ingresar más!</strong>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <div align="center">
                                <button type="button" class="btn btn-primary" id="DetallePackingList">Ingresar o Actualizar Informacion del Packing List</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <div align="center">
                                <button type="button" class="btn btn-success" id="btnActualizarCantidadPallets">Actualizar Cantidad de Pallets</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <div align="center">
                                <button type="button" class="btn btn-success" id="GenerarFacturaPacking">Generar Factura</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <div align="center">
                                <button type="button" class="btn btn-success" id="GenerarGuiaPacking">Generar Guía</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                <br />
                <h5>Informacion Pallets</h5>
                <div id="tblListadoPalletsIngresados"> </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="ModalActualizarPallet" class="modal fade" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <b class="modal-title" id="lblNumberPalletNuevo">Actualizacion de Pallets</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="MensajePackingValorCeroPallets" class="alert alert-danger collapse">
                    <button id="LinkCloseCeroPallets" type="button" class="close">&times;</button>
                    <strong>El valor no puede ser "0" o estar vacio</strong>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-1">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputEmail4">Cantidad actual:</label>
                        <input type="number" name="Orden" id="txtCantidadActualPallets" autocomplete="off" class="form-control" readonly>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputPassword4">Nueva Cantidad:</label>
                        <input type="number" name="PalletNumber" id="txtNuevaCantidadPallets" autocomplete="off" class="form-control">
                    </div>
                    <div class="form-group col-md-1">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ActualizarPalletsPacking">Actualizar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="ModalPalletIngresado" class="modal fade" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="lblNumberPallet">Pallet Number</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Largo(cm):</b></label>
                        <div class="col-sm-2">
                            <input type="number" name="Orden" id="txtLargoPallet" autocomplete="off" value="0" onchange="Volumen();" class="form-control">
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Ancho(cm):</b></label>
                        <div class="col-sm-2">
                            <input type="number" name="PalletNumber" id="txtAnchoPallet" autocomplete="off" value="0" onchange="Volumen();" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Alto(cm):</b></label>
                        <div class="col-sm-2">
                            <input type="number" name="Orden" id="txtAltoPallet" autocomplete="off" value="0" onchange="Volumen();" class="form-control">
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Volumen(m³):</b></label>
                        <div class="col-sm-2">
                            <input type="number" name="PalletNumber" id="txtVolumenPallet" value="0" onchange="Volumen();" autocomplete="off" readonly class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Peso Neto(kg):</b></label>
                        <div class="col-sm-2">
                            <input type="number" name="Orden" id="txtPesoNeto" autocomplete="off" class="form-control">
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Peso Bruto(kg):</b></label>
                        <div class="col-sm-2">
                            <input type="number" name="PalletNumber" id="txtPesoBruto" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-8">
                            <div id="MensajeEliminacionCorecta" class="alert alert-danger collapse">
                                <button id="LinkClose11" type="button" class="close">&times;</button>
                                <strong>Eliminacion correcta!</strong>
                            </div>
                            <div id="MensajeEliminacionIncorecta" class="alert alert-danger collapse">
                                <button id="LinkClose12" type="button" class="close">&times;</button>
                                <strong>Error al Eliminar!</strong>
                            </div>
                            <div id="MensajeGuardado" class="alert alert-primary collapse">
                                <button id="LinkClose5" type="button" class="close">&times;</button>
                                <strong>Guardado Exitosamente!!</strong>
                            </div>
                            <div id="MensajeErrorGuardado" class="alert alert-danger collapse">
                                <button id="LinkClose6" type="button" class="close">&times;</button>
                                <strong>Error de Guardad0!!</strong>
                            </div>
                            <div id="MensajeErrorGeneral" class="alert alert-danger collapse">
                                <button id="LinkClose7" type="button" class="close">&times;</button>
                                <strong>Error General!!</strong>
                            </div>
                            <div id="MensajeErrorInesperado" class="alert alert-danger collapse">
                                <button id="LinkClose2" type="button" class="close">&times;</button>
                                <strong>Error Inesperado!</strong>
                            </div>
                            <div id="MensajeActulalizacionCorrecta" class="alert alert-primary collapse">
                                <button id="LinkClose9" type="button" class="close">&times;</button>
                                <strong>Actualizacion exitosa</strong>
                            </div>
                            <div id="MensajePackingCompletos" class="alert alert-danger collapse">
                                <button id="LinkClose10" type="button" class="close">&times;</button>
                                <strong>Pallets completos, no puede ingresar más!</strong>
                            </div>
                            <div id="tblDetallePalletTablaIngresado"> </div>
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-secondary" onclick="ModificarPallet()">Modificar</button>*@
            </div>
        </div>
    </div>
</div>

<div id="ModalPalletIngresoNuevo" class="modal fade" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="lblNumberPalletNuevo">Pallet Number</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Largo(cm):</b></label>
                        <div class="col-sm-2">
                            <input type="number" name="Orden" id="txtNuevoLargoPallet" autocomplete="off" value="0" onchange="Volumen2();" class="form-control">
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Ancho(cm):</b></label>
                        <div class="col-sm-2">
                            <input type="number" name="PalletNumber" id="txtNuevoAnchoPallet" autocomplete="off" value="0" onchange="Volumen2();" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Alto(cm):</b></label>
                        <div class="col-sm-2">
                            <input type="number" name="Orden" id="txtNuevoAltoPallet" autocomplete="off" value="0" onchange="Volumen2();" class="form-control">
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Volumen(m³):</b></label>
                        <div class="col-sm-2">
                            <input type="number" name="PalletNumber" id="txtNuevoVolumenPallet" value="0" onchange="Volumen2();" autocomplete="off" readonly class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Peso Neto(kg):</b></label>
                        <div class="col-sm-2">
                            <input type="number" name="Orden" id="txtNuevoPesoNeto" autocomplete="off" class="form-control">
                        </div>
                        <div class="col-sm-2">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Peso Bruto(kg):</b></label>
                        <div class="col-sm-2">
                            <input type="number" name="PalletNumber" id="txtNuevoPesoBruto" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div id="MensajeEliminacionCorecta" class="alert alert-danger collapse">
                        <button id="LinkClose11" type="button" class="close">&times;</button>
                        <strong>Eliminacion correcta!</strong>
                    </div>
                    <div id="MensajeEliminacionIncorecta" class="alert alert-danger collapse">
                        <button id="LinkClose12" type="button" class="close">&times;</button>
                        <strong>Error al Eliminar!</strong>
                    </div>
                    <div id="MensajeGuardado" class="alert alert-primary collapse">
                        <button id="LinkClose5" type="button" class="close">&times;</button>
                        <strong>Guardado Exitosamente!!</strong>
                    </div>
                    <div id="MensajeErrorGuardado" class="alert alert-danger collapse">
                        <button id="LinkClose6" type="button" class="close">&times;</button>
                        <strong>Error de Guardad0!!</strong>
                    </div>
                    <div id="MensajeErrorGeneral" class="alert alert-danger collapse">
                        <button id="LinkClose7" type="button" class="close">&times;</button>
                        <strong>Error General!!</strong>
                    </div>
                    <div id="MensajeErrorInesperado" class="alert alert-danger collapse">
                        <button id="LinkClose2" type="button" class="close">&times;</button>
                        <strong>Error Inesperado!</strong>
                    </div>
                    <div id="MensajeActulalizacionCorrecta" class="alert alert-primary collapse">
                        <button id="LinkClose9" type="button" class="close">&times;</button>
                        <strong>Actualizacion exitosa</strong>
                    </div>
                    <div id="MensajePackingCompletos" class="alert alert-danger collapse">
                        <button id="LinkClose10" type="button" class="close">&times;</button>
                        <strong>Pallets completos, no puede ingresar más!</strong>
                    </div>
                    <div id="tblDetallePalletTablaNueva"> </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-secondary" id="RegistrarPallet">Registrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header alert-primary">
                <h5 class="modal-title" id="exampleModalLongTitle">Esta seguro de eliminar el Pallet?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="AfirmacionEliminacion">Si</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalEliminarPacking" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header alert-primary">
                <h5 class="modal-title" id="exampleModalLongTitle">Esta seguro de eliminar el Packing?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="AfirmacionEliminacionPacking">Si</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAfirmacionFondo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header alert-primary">
                <h5 class="modal-title" id="exampleModalLongTitle">Desea imprimir con etiqueta pre-impresa ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="AfirmacionEticketa">Si</button>
                <button type="button" class="btn btn-primary" id="NgacionEticketa">No</button>
            </div>
        </div>
    </div>
</div>


<div id="ModalDetallePackingList" class="modal fade" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="lblDetallePackingList">DETALLE PACKING LIST</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Cliente:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtNombreDelCliente" autocomplete="off" readonly class="form-control">
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Contenedor:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtContenedorPackingList" autocomplete="off" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Fecha:</b></label>
                        <div class="col-sm-3">
                            <input type="date" id="txtFechaPacking" autocomplete="off" class="form-control">
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Reserva:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtBookingPacking" autocomplete="off" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Factura:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtFacturaPackingList" autocomplete="off" class="form-control" required>
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>#Pedido:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtPedidoPackingList" autocomplete="off" readonly class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Embarcacion:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtEmbarcacionPackingList" autocomplete="off" class="form-control" required>
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Intercambio Eir:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtIntercambioEirPackingList" autocomplete="off" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Elaborado Por:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtReferenciaPackingList" autocomplete="off" class="form-control" required>
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Productos:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtProductosPackingList" autocomplete="off" class="form-control" required>
                        </div>
                    </div>
                    @*<div class="form-group row">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-8">
                                <div id="tblDetallePackingListIngresados"> </div>
                            </div>
                            <div class="col-sm-2">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-8">
                                <div id="tblItemsDetallePackingListIngresados"> </div>
                            </div>
                            <div class="col-sm-2">
                            </div>
                        </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ImprimirRegistroPackingList">Imprimir</button>
                <button type="button" class="btn btn-primary" id="ActualizarDetallePackingList">Actualizar</button>
                <button type="button" class="btn btn-primary" id="RegistrarDetallePackingList">Registrar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

<div id="ModalFacturaPackingList" class="modal fade" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="lblDetallePackingList">FACTURA PACKING LIST</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b># Factura:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtFactPackingList" autocomplete="off"  class="form-control">
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b># Orden:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtOrdenFactPackingList" autocomplete="off"  class="form-control">
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Fecha:</b></label>
                        <div class="col-sm-3">
                            <input type="date" id="txtFechaFactPackingList" autocomplete="off" class="form-control">
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Cliente:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtClienteFactPacking" autocomplete="off" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Enviar a:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtEnvioFactPackingList" autocomplete="off" class="form-control" required>
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Telefono:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtTelefonoFactPacking" autocomplete="off" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Vendedor:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtVendedorFactPackingList" autocomplete="off"  class="form-control">
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Destino:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtDestinoFactPackingList" autocomplete="off" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b># Contenedor:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtContenedorFactPackingList" autocomplete="off" class="form-control" required>
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Metodo de envio:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtMetodoEnvioFactPackingList" autocomplete="off"  class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-10">
                            <div id="tblResumenFactura"></div>

                        </div>
                        <div class="col-sm-1">
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ImprimirFactRegistroPackingList">Imprimir</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>


<div id="ModalGuiaPackingList" class="modal fade" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="lblDetallePackingList">Guia de Packing List</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="MensajeCompleteCamposGuia" class="alert alert-danger collapse">
                    <button id="LinkCloseCompleteGuia" type="button" class="close">&times;</button>
                    <strong>Complete campos para registrar guía!</strong>
                </div>
                <div id="MensajeErrorGuardarGuia" class="alert alert-danger collapse">
                    <button id="LinkCloseErrorGuardadoGuia" type="button" class="close">&times;</button>
                    <strong>Ocurrio un error al guardar la guía!</strong>
                </div>
                <form>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Cliente:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtNombreDelClienteGuia" autocomplete="off" readonly class="form-control">
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Fecha Emision:</b></label>
                        <div class="col-sm-3">
                            <input type="date" id="txtFechaPackingGuia" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Punto Partida:</b></label>
                        <div class="col-sm-3">
                            <select class="form-control" id="txtPuntoPartidaGuia">
                                <option value="1" selected>Planta Dacar</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Reserva:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtBookingPackingGuia" autocomplete="off" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>#Pedido:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtPedidoPackingListGuia" autocomplete="off" class="form-control">
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Contenedor:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtContenedorGuia" autocomplete="off" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Peso Bruto:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtPesoBrutoGuia" autocomplete="off" class="form-control">
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Peso Tara:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtPesoTaraGuia" autocomplete="off" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-sm-6">
                            <h5>Datos del transportista</h5>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Razon Social:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtRazonSocialGuia" autocomplete="off" class="form-control" required>
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Ruc:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtRucGuia" autocomplete="off" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Direccion:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtDireccionGuia" autocomplete="off" class="form-control" required>
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Placa:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtPlacaGuia" autocomplete="off" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <h5>Sellos</h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Sello A:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtGuiaSelloA" autocomplete="off" class="form-control" required>
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Sello B:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtGuiaSelloB" autocomplete="off" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Sello C:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtGuiaSelloC" autocomplete="off" class="form-control" required>
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Sello D:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtGuiaSelloD" autocomplete="off" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <h5>Autorizaciones</h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label"><b>Elaborado por:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtElaboradoPorGuia" autocomplete="off" class="form-control" required>
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <label for="email" class="col-sm-2 col-form-label"><b>Autorizado por:</b></label>
                        <div class="col-sm-3">
                            <input type="text" id="txtAutorizadoPorGuia" autocomplete="off" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-6">
                            <div id="tblResumenGuia"></div>
                        </div>
                        <div class="col-sm-3">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ImprimirRegistroPackingListGuia">Imprimir</button>
                <button type="button" class="btn btn-primary" id="ActualizarDetallePackingListGuia">Actualizar</button>
                <button type="button" class="btn btn-primary" id="RegistrarDetallePackingListGuia">Registrar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalAfirmacionFondoPacking" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header alert-primary">
                <h5 class="modal-title" id="exampleModalLongTitle">Va a utilizar una hoja membretada pre-impresa?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="AfirmacionEticketaPacking">Si</button>
                <button type="button" class="btn btn-primary" id="NgacionEticketaPacking">No</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="txtNumeroPalle" />
<input type="hidden" id="txtIdPallet" />
<input type="hidden" id="txtIdPacking" />

