
@{
    ViewBag.Title = "ModificarIngresosChatarra";
    Layout = "~/Views/Compartida/_Layout.cshtml";
}
@{
    var ani = ViewBag.anos;
}
@{
    var desv = ViewBag.desviacion;
}
@{
    var grupo = ViewBag.gruposClientes;
}
<br />

<style>
    #IngresosdeChatarras {
        margin-top: 20px;
    }

    .currency {
        text-align: center;
    }

</style>
<style>
    .dx-datagrid {
        font: 12px Montserrat;
    }

    .dx-datagrid-headers .dx-header-row {
        color: black;
        font-family: Montserrat;
        font-size: 13px;
    }

    .dx-datagrid-headers .dx-header-row {
        font: 12px arial;
        background-color: #D7F1FF;
        /*background-color: #3355FF;*/
        color: black;
        font-weight: bold;
    }

    .dx-data-row {
        font-size: 10pt;
        padding: 2pt;
    }

    .dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell {
        vertical-align: top;
    }
</style>

<div class="card shadow align-top">
    <div class="card-header">
        <h2>Reporte Ingresos Chatarra</h2>
        <br />
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <h6>Año de busqueda</h6>
                    @Html.DropDownList("Anio", new SelectList(ani, "Value", "Text"), new { @class = "form-control", id = "anioClass" })
                </div>
                @*<div class="col-md-2">
                    <h6>Tipo Cliente</h6>
                    @Html.DropDownList("Grupo", new SelectList(grupo, "Value", "Text"), "--Todos--", new { @class = "form-control", id = "grupoCliente" })
                </div>*@
                <div class="col-md-2">
                    <h6>  </h6>
                    <button class="btn btn-primary" onclick="ConsultaDeIngresos()">
                        <i class="loading-icon fa fa-spinner fa-spin hide"></i>
                        <span class="btn-txt">Consultar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="MensajeErrorInesperado" class="alert alert-danger collapse">
            <button id="LinkClose2" type="button" class="close">&times;</button>
            <strong>Error Inesperado!</strong>
        </div>
        <div id="MensajeActulalizacionCorrecta" class="alert alert-primary collapse">
            <button id="LinkClose9" type="button" class="close">&times;</button>
            <strong>Actualizacion exitosa</strong>
        </div>
        <div id="MensajeUnicoCliente" class="alert alert-danger collapse">
            <button id="LinkClose15" type="button" class="close">&times;</button>
            <strong>Solo se puede escoger un cliente para el reporte!</strong>
        </div>
        <div id="MensajeRespuestaEnvio" class="alert alert-danger collapse">
            <button id="LinkClose8" type="button" class="close">&times;</button>
            <strong></strong>
        </div>
        <div id="IngresosdeChatarras"></div>

        @*<div id="IngresosdeChatarras"></div>*@
        <div class="auto" id="OcultarBoton" style="display: none">
            <button type="button" class="btn btn-primary" onclick="ChartResumenesChatarras();">Resultados</button>
        </div>

    </div>
    </div>

<div class="modal" tabindex="-1" role="dialog" id="ModalDetalleChatarraModificacion">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="TituloIngreso">Modificar Ingresos Chatarra</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="ErrorContrasena" class="alert alert-danger collapse">
                    <button id="LinkClose7" type="button" class="close">&times;</button>
                    <strong>Contraseña incorrecta!</strong>
                </div>
                <div id="MensajeErrorGuardar" class="alert alert-danger collapse">
                    <button id="LinkClose3" type="button" class="close">&times;</button>
                    <strong>Error al guardar!</strong>
                </div>

                <div id="MensajeIngresePeso" class="alert alert-danger collapse">
                    <button id="LinkClose4" type="button" class="close">&times;</button>
                    <strong>Ingrese Peso Bulto</strong>
                </div>
                <div id="MensajeErrorVariacion" class="alert alert-danger collapse">
                    <button id="LinkClose5" type="button" class="close">&times;</button>
                    <strong>La variacion no puede ser 0</strong>
                </div>
                <div id="MensajeErrorInesperado" class="alert alert-danger collapse">
                    <button id="LinkClose2" type="button" class="close">&times;</button>
                    <strong>Error Inesperado!</strong>
                </div>
                <div id="MensajeIngreseValores" class="alert alert-danger collapse">
                    <button id="LinkClose" type="button" class="close">&times;</button>
                    <strong>Ingrese valores o calcule</strong>
                </div>
                
                <div id="ChatarraDetalle"></div>
                <div id="ChatarraDetalles2"></div>

                <br />
                <div class="form-group row">

                    <label for="email" class="col-sm-3 col-form-label"><b>Bodega:</b></label>
                    <div class="col-md-2">
                        <input type="number" name="NombreItem" id="TipoBodega" autocomplete="off" readonly class="form-control">
                    </div>

                    <label for="email" class="col-sm-2 col-form-label" id="labelPesoNeto"><b>Peso Neto(kg):</b></label>
                    <div class="col-sm-2">
                        <input type="number" name="NombreItem" id="txtPesoNetoBulto" autocomplete="off" class="form-control" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-3 col-form-label"><b>Desviación: %</b></label>
                    <div class="col-sm-2">
                        <input type="number" name="NombreItem" id="txtCalPesoNetoBulto" autocomplete="off" readonly class="form-control">
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary" id="BtnCalcular">Calcular Desviación</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="txtSumaryPesos" />
                <input type="hidden" id="txtSumaryPesosAjustados" />

                <button type="button" class="btn btn-primary" id="BtnImprimir">Imprimir</button>
                <button type="button" class="btn btn-primary" id="RegistrarModificacionChatarra">Actualizar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalIngresoContrasena" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header alert-primary" >
                <h5 class="modal-title" id="exampleModalLongTitle">Ingrese contraseña para actualizar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" name="NombreItem" id="ContrasenaIngresada" autocomplete="off" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="ComprobarContrasena">Validar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                </div>
            </div>
    </div>
</div>

<div id="ModalInformeGrafica" class="modal fade" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="lblDetallePackingList">Reporte Ingresos Chatarra</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="formGroupExampleInput2">Cantidad(Uds.)</label>
                                    <input type="text" class="form-control" id="txtCantitadTotalReporte" placeholder="Cantidad" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="formGroupExampleInput">Peso Teorico Total(kg)</label>
                                    <input type="text" class="form-control" id="txtPesoTeoricoReporte" placeholder="Peso teorico total" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="formGroupExampleInput">Peso Ingresado Total(kg)</label>
                                    <input type="text" class="form-control" id="txtPesoIngresadoReporte" placeholder="Peso ingresado total" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="formGroupExampleInput">Desviacion Promedio(%)</label>
                                    <input type="text" class="form-control" id="txtDesviacionPromedioReporte" placeholder="Desviacion Promedio" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <canvas id="myChart" style="width:200%;max-width:800px"></canvas>

                        </div>

                    </div>

</form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GenerarPdf();">Imprimir</button>
                <button type="button" class="btn btn-success" onclick="AbrirModalEnvio();">Enviar por correo</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalEnvioCorreoElectronico" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header alert-primary">
                <h5 class="modal-title" id="exampleModalLongTitle">Envío de reporte por correo electronico</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" @*style="background-color:cornflowerblue"*@>
                <div id="MensajeCompleteCorreo" class="alert alert-danger collapse">
                    <button id="LinkClose7" type="button" class="close">&times;</button>
                    <strong>Ingrese el correo para enviar!</strong>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="formGroupExampleInput">Enviar a:</label>
                        <input type="email" class="form-control" id="txtCorreoDestino" placeholder="example@bateriasdacar.com">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="formGroupExampleInput">Copiar a:</label>
                        <input type="email" class="form-control" id="txtCorreoCopia" placeholder="example@bateriasdacar.com">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="BtnEnvio" onclick="EnviarPdf()">Enviar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@*<input type="hidden" id="txtSumaryPesos" />*@
<input type="hidden" id="txtPesoIngresado" />
<input type="hidden" id="txtPesoTeorico" />

<input type="hidden" value="desv" id="valordesv" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>