
@{
    ViewBag.Title = "ConsultarUsuariosPortal";
    Layout = "~/Views/Compartida/_Layout.cshtml";
}

<br />
<div class="card shadow">
    <div class="card-header">
        <h5>Consultar Usuario Portal</h5>
    </div>
    <div class="card-body">
        <div id="MensajeErrorInesperado" class="alert alert-danger collapse">
            <button id="LinkClose" type="button" class="close">&times;</button>
            <strong>Error Inesperado!</strong>
        </div>
        <div id="ActualizacionRealizada" class="alert alert-primary collapse">
            <button id="LinkClose2" type="button" class="close">&times;</button>
            <strong>Actualizacion correcta!</strong>
        </div>
        <div id="EliminacionCorrecta" class="alert alert-danger collapse">
            <button id="LinkClose3" type="button" class="close">&times;</button>
            <strong>Eliminacion Correcta!</strong>
        </div>
        <div id="IngresoCorrecto" class="alert alert-primary collapse">
            <button id="LinkClose4" type="button" class="close">&times;</button>
            <strong>Ingreso Correcto!</strong>
        </div>
        <div id="UsuarioYaRegistrado" class="alert alert-danger collapse">
            <button id="LinkClose5" type="button" class="close">&times;</button>
            <strong>El nombre de usuario ya se encuentra en uso!</strong>
        </div>
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">
                <div id="tblUsuariosPortal"> </div>

            </div>
            <div class="col-3">

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="EliminarUsuarioPortal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header alert-primary">
                <h5 class="modal-title" id="exampleModalLongTitle">Esta Seguro de eliminar este usuario ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @*<div class="modal-body">
                    <input type="text" name="NombreItem" id="ContrasenaIngresada" autocomplete="off" class="form-control">
                </div>*@
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"  onclick="ElminarUsuarioPortal()">Si</button>
                <button type="button" class="btn btn-secondary"  onclick="ElminarUsuarioPortal()" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="ModalActualizarUsuario">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Actualizar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="IngreseTodosCampos" class="alert alert-danger collapse">
                    <button id="LinkClose6" type="button" class="close">&times;</button>
                    <strong>Ingrese Todos los Camposs!</strong>
                </div>
              

                <div class="row">
                    <div class="col-6 col-md-6">
                        <label for="email"><b>Cliente</b></label>
                        <input class="form-control" type="text" name="NombreCompleto" id="txtNombres" autocomplete="off" readonly required>
                    </div>
                    <div class="col-6 col-md-6">
                        <label for="email"><b>Usuario</b></label>
                        <input class="form-control" type="text" placeholder="Ingresar Usuario" name="NombreUsuario" id="txtUsuario" autocomplete="off" required>
                    </div>
                    <div class="col-6 col-md-6">
                        <label for="psw"><b>Contraseña</b></label>
                        <input class="form-control" type="password" placeholder="Ingresar Contraseña" name="contrasena" id="txtContrasenia" autocomplete="off" required onkeyup="checkPasswordStrength();"> 
                        <div class="progress" style="height: 5px;">
                            <div id="passwordbar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div id="password-strength-status"></div>
                    </div>
                    <div class="col-6 col-md-6">
                        <label for="psw"><b>Estado</b></label>
                        <select class="form-control" aria-label="Default select example" id="SelectEstadoUsuario">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div align='center'>
                            <label for="psw"><b>Validaciones</b></label>
                            <select class="form-control" aria-label="Default select example" id="SelectValidaciones">
                                <option value="0">Si</option>
                                <option value="1">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ActualizarUsuarioPortal()">Actualizar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ListaPrecioUsuarioPortal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header alert-primary">
                <h5 class="modal-title" id="exampleModalLongTitle">Detalles y precios de baterias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="NoRegistroProducto1" class="alert alert-danger collapse">
                    <button id="LinkClose6" type="button" class="close">&times;</button>
                    <strong>Se debe ingresar la versión </strong>
                </div>
                <div class="row align-items-center">
                    <div class="col-auto">
                        <label for="exampleFormControlInput1" class="form-label">Versión</label>
                        <input type="text" class="form-control" id="txtVersion" placeholder="Versión">
                    </div>
                </div>
                <div id="tblListaPrecioUsuariosPortal"> </div>
                <div class="row align-items-end">
                    <div class="col">
                        <label for="formFile" class="form-label"></label>
                        <input class="form-control" type="file" id="file_upload">
                    </div>

                    <div class="col">
                        <button type="button" class="align-self-end btn btn-outline-secondary" style="margin-top: auto" onclick="upload()">Subir</button>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-primary" onclick="TempRegisListaPrecios()">Confirmar</button>*@
                <button type="button" class="btn btn-primary" id="GuardarNuevaLista">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>