
@{
    ViewBag.Title = "IngresoGarantias";
    Layout = "~/Views/Compartida/_Layout.cshtml";
}

@{ 
    var vendedores=ViewBag.Vendedores;
    DateTime fecha = DateTime.Now;
    var fechaActual = fecha.ToString("dd/MM/yyyy");
}
<br />
<div class="card shadow align-top">
    <div class="card-header">
        <h2>Ingreso por  Garantia</h2>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <input type="text" name="NombreItem" id="txtNumeroGarantia" autocomplete="off" class="form-control" placeholder="Numero Garantia">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" onclick="ConsultarGarantia()">
                        <i id="Cargar" class="loading-icon fa fa-spinner fa-spin hide"></i>
                        <span class="btn-txt">Consultar</span>
                    </button>
                </div>
            </div>
        </div>
        <div id="MensajeErrorGeneral" class="alert alert-danger collapse">
            <button id="LinkClose" type="button" class="close">&times;</button>
            <strong>Error General!</strong>
        </div>
        <div id="MensajeGuardadoExitoso" class="alert alert-primary collapse">
            <button id="LinkClose4" type="button" class="close">&times;</button>
            <strong>Registrado con exito!</strong>
        </div>
        <div id="MensajeIngreseNumeroGarantia" class="alert alert-danger collapse">
            <button id="LinkClose2" type="button" class="close">&times;</button>
            <strong>Ingrese Numero de Garantia!</strong>
        </div>
        <div id="MensajeGarantiaNoEncontrada" class="alert alert-danger collapse">
            <button id="LinkClose3" type="button" class="close">&times;</button>
            <strong>Numero de garantia no encontrado, ingrese los datos manualmente!</strong>

        </div>
        <div id="MensajeCompleteCampos" class="alert alert-danger collapse">
            <button id="LinkClose5" type="button" class="close">&times;</button>
            <strong>Complete todos los campos!</strong>
        </div>
        <div id="PesoImgSobrepasado" class="alert alert-danger collapse">
            <button id="LinkMjsPesoSobrepasadot" type="button" class="close">&times;</button>
            <strong>
                El peso maximo es 1024kb!
            </strong>
        </div>
        <div id="ArchivoImagenIncorrecto" class="alert alert-danger collapse">
            <button id="LinkMjsArchivoIncorrecto" type="button" class="close">&times;</button>
            <strong>
                El archivo no es una imagen!
            </strong>
        </div>
        <div id="NoCumpleParaGarantia" class="alert alert-danger collapse">
            <button id="LinkMjsNoCumpleGarantia" type="button" class="close">&times;</button>
            <strong>
                No cumple con los requisitos para aplicar la garantia!
            </strong>
        </div>
        <div id="CumpleParaGarantia" class="alert alert-success collapse">
            <button id="LinkMjsCumpleGarantia" type="button" class="close">&times;</button>
            <strong>
                Cumple con los requisitos para aplicar la garantia!
            </strong>
        </div>
    </div>
    <div class="card-body">
        <div id="ContenidoDiv">
            <div class="form-group">
                <div class="row" style="padding:0px 0px 0px 0px">
                    <div class="col-md-12">
                        <div align="center">
                            <label for="email" class="col-sm-12 col-form-label"><b>DATOS DEL CLIENTE</b></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row" style="padding:0px 0px 10px 0px">
                    <label for="email" class="col-sm-1 col-form-label"><b>Cliente:</b></label>
                    <div class="col-md-2">
                        <input type="text" name="NombreItem" id="txtCliente" autocomplete="off" class="form-control" readonly placeholder="Cliente">
                    </div>

                    <label for="email" class="col-sm-1 col-form-label"><b>Cédula:</b></label>
                    <div class="col-md-1">
                        <input type="number" name="NombreItem" id="txtCedula" maxlength="13" autocomplete="off" class="form-control" readonly placeholder="Cédula">
                    </div>

                    <label for="email" class="col-sm-1 col-form-label"><b># Garantia:</b></label>
                    <div class="col-md-1">
                        <input type="text" name="NombreItem" id="txtNumeroGarantiaObtenido" autocomplete="off" class="form-control" readonly placeholder="# Garantia">
                    </div>
                    <label for="email" class="col-sm-1 col-form-label"><b># Comprobante:</b></label>
                    <div class="col-md-1">
                        <input type="text" name="NombreItem" id="txtNumeroComprobante" autocomplete="off" class="form-control"  placeholder="# Comprobante" >
                    </div>
                    <label for="email" class="col-sm-1 col-form-label"><b>#Factura:</b></label>
                    <div class="col-md-1">
                        <input type="text" name="NombreItem" id="txtNumeroFactura" autocomplete="off" class="form-control" readonly placeholder="# Factura">
                    </div>
                </div>
                <div class="row" style="padding:0px 0px 10px 0px">
                    <label for="email" class="col-sm-1 col-form-label"><b>Provincia:</b></label>
                    <div class="col-md-2">
                        <select class="form-control" aria-label="Default select example" id="txtProvincia" onchange="CargarCantones();">
                        </select>
                        @*<input type="text" name="NombreItem" id="txtProvincia" autocomplete="off" class="form-control" readonly placeholder="Provincia">*@
                    </div>

                    <label for="email" class="col-sm-1 col-form-label"><b>Ciudad:</b></label>
                    <div class="col-md-3">
                        <select class="form-control" aria-label="Default select example" id="txtDireccion">
                            <option value="" selected="selected">--Seleccione el cantón--</option>
                        </select>
                        @*<input type="text" name="NombreItem" id="txtDireccion" autocomplete="off" class="form-control" placeholder="Ciudad">*@
                    </div>
                    <label for="email" class="col-sm-1 col-form-label"><b>Vendedor:</b></label>
                    <div class="col-md-1">
                        @Html.DropDownList("TipoDeIngreso", new SelectList(vendedores, "SlpCode", "Memo"), new { @class = "form-control", id = "txtVendedor" })
                        @*<input type="text" name="NombreItem" id="txtVendedor" autocomplete="off" class="form-control" placeholder="Vendedor">*@
                    </div>

                    <label for="email" class="col-sm-1 col-form-label"><b>Factura:</b></label>
                    <div class="col-md-2">
                        <input type="file" accept=".jpg,.png,.jpeg,.gif" class="form-control-file" id="ImgFacturaIngresada" onchange="ValidarTipoImagen(this);">
                    </div>

                </div>
            </div>
            <hr style="color: #0056b2;" />
            <div class="form-group">
                <div class="row" style="padding:0px 0px 0px 0px">
                    <div class="col-md-12">
                        <div align="center">
                            <label for="email" class="col-sm-12 col-form-label"><b>DESCRIPCION DEL PRODUCTO</b></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row" style="padding:0px 0px 10px 0px">
                    <label for="email" class="col-sm-1 col-form-label"><b>Marca:</b></label>
                    <div class="col-md-2">
                        <input type="text" name="NombreItem" id="txtMarca" autocomplete="off" class="form-control" readonly value="Dacar">
                    </div>
                    <label for="email" class="col-sm-1 col-form-label"><b>Modelo:</b></label>
                    <div class="col-md-1">
                        <select class="form-control" aria-label="Default select example" id="txtModelo" onchange="CalcularProrrateo();">
                        </select>
                        @*<input type="text" name="NombreItem" id="txtModelo" autocomplete="off" class="form-control" readonly placeholder="Modelo">*@
                    </div>
                    
                    <label for="email" class="col-sm-1 col-form-label"><b>Voltaje:</b></label>
                    <div class="col-md-1">
                        <input type="number" name="NombreItem" id="txtVoltaje" autocomplete="off" class="form-control" placeholder="Voltaje">
                    </div>
                    <label for="email" class="col-sm-1 col-form-label"><b>$ Pvp Venta:</b></label>
                    <div class="col-md-1">
                        <input type="number" name="NombreItem" id="txtPorcentajeVentas" autocomplete="off" class="form-control" placeholder="$ Pvp Venta" onchange="CalcularProrrateo();">
                    </div>
                    <label for="email" class="col-sm-1 col-form-label"><b>Meses:</b></label>
                    <div class="col-md-1">
                        @*<select class="form-control" aria-label="Default select example" id="txtMeses" onchange="CalcularProrrateo();">
                @{
                    for (int i = 1; i <= 24; i++)
                    {
                        <option value=@i>@i</option>

                    }
                }
            </select>*@
                        <input type="number" name="NombreItem" id="txtMeses" autocomplete="off" class="form-control" placeholder="# Meses" readonly>
                    </div>
                </div>
                <div class="row" style="padding:0px 0px 10px 0px">
                    <label for="email" class="col-sm-1 col-form-label"><b>Fecha Venta:</b></label>
                    <div class="col-md-2">
                        @*<input id="txtFechaVenta" class="date-picker form-control" placeholder="dd/mm/yyyy" type="text" required="required" onfocus="this.type='date'" onmouseout="timeFunctionLong(this)">*@
                        <input id="txtFechaVenta" class="date-picker form-control" placeholder="dd/mm/yyyy" type="text" required="required" onfocus="this.type='date'" onchange="CalcularProrrateo();">

                        <script>
                            function timeFunctionLong(input) {
                                setTimeout(function () {
                                    input.type = 'text';
                                }, 60000);
                            }
                        </script>
                    </div>
                    <label for="email" class="col-sm-1 col-form-label"><b>Fecha Ingreso:</b></label>
                    <div class="col-md-1">
                        <input id="txtFechaIngreso" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" value=@fechaActual readonly>
                        <script>
                            function timeFunctionLong(input) {
                                setTimeout(function () {
                                    input.type = 'text';
                                }, 60000);
                            }
                        </script>
                    </div>
                    <label for="email" class="col-sm-1 col-form-label"><b>%Prorrateo:</b></label>
                    <div class="col-md-1">
                        <input type="number" name="NombreItem" id="txtProrrateo" autocomplete="off" class="form-control" placeholder="% Prorrateo" readonly>
                    </div>
                    <label for="email" class="col-sm-1 col-form-label"><b>Lote Carga:</b></label>
                    <div class="col-md-1">
                        <input type="text" name="NombreItem" id="txtLote" autocomplete="off" class="form-control" placeholder="Lote Carga">
                    </div>
                    <label for="email" class="col-sm-1 col-form-label"><b>Lote Ensamble:</b></label>
                    <div class="col-md-1">
                        <input type="number" name="NombreItem" id="txtLoteEnsamble" autocomplete="off" class="form-control" placeholder="Lote Ensamble">
                    </div>
                </div>
                <div class="row" style="padding:0px 0px 10px 0px">
                    <label for="email" class="col-sm-1 col-form-label"><b>Test:</b></label>
                    <div class="col-md-2">
                        <input type="file" accept=".jpg,.png,.jpeg,.gif" class="form-control-file" id="ImgTestIngresada" onchange="ValidarTipoImagen(this);">
                    </div>
                   
                </div>
            </div>

            <div class="form-group">
                <div class="row" style="padding:0px 0px 10px 0px">
                    @*<div class="col-md-2">

                    </div>*@
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <ul class="list-group">
                                <li class="list-group-item active">Inspeccion Inicial</li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Revisiones Periódicas
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions17" id="inlineRadio1" value="true" onchange="ValidarGarantia();">
                                        <label style="padding:0px 10px 0px 0px" class="form-check-label" for="inlineRadio1">Si</label>
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions17" id="inlineRadio1" value="false" onchange="ValidarGarantia();">
                                        <label class="form-check-label" for="inlineRadio1">No</label>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Golpeada o Rota
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions10" id="inlineRadio1" value="true" onchange="ValidarGarantia();">
                                        <label style="padding:0px 10px 0px 0px" class="form-check-label" for="inlineRadio1">Si</label>
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions10" id="inlineRadio1" value="false" onchange="ValidarGarantia();">
                                        <label class="form-check-label" for="inlineRadio1">No</label>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Hinchada
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions11" id="inlineRadio1" value="true" onchange="ValidarGarantia();">
                                        <label style="padding:0px 10px 0px 0px" class="form-check-label" for="inlineRadio1">Si</label>
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions11" id="inlineRadio1" value="false" onchange="ValidarGarantia();">
                                        <label class="form-check-label" for="inlineRadio1">No</label>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Bornes Flojos o Hundidos
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions12" id="inlineRadio1" value="true" onchange="ValidarGarantia();">
                                        <label style="padding:0px 10px 0px 0px" class="form-check-label" for="inlineRadio1">Si</label>
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions12" id="inlineRadio1" value="false" onchange="ValidarGarantia();">
                                        <label class="form-check-label" for="inlineRadio1">No</label>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Bornes Fundidos
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions13" id="inlineRadio1" value="true" onchange="ValidarGarantia();">
                                        <label style="padding:0px 10px 0px 0px" class="form-check-label" for="inlineRadio1">Si</label>
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions13" id="inlineRadio1" value="false" onchange="ValidarGarantia();">
                                        <label class="form-check-label" for="inlineRadio1">No</label>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Electrolito Erroneo
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions14" id="inlineRadio1" value="true" onchange="ValidarGarantia();">
                                        <label style="padding:0px 10px 0px 0px" class="form-check-label" for="inlineRadio1">Si</label>
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions14" id="inlineRadio1" value="false" onchange="ValidarGarantia();">
                                        <label class="form-check-label" for="inlineRadio1">No</label>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Fuga en Cubierta
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions15" id="inlineRadio1" value="true">
                                        <label style="padding:0px 10px 0px 0px" class="form-check-label" for="inlineRadio1">Si</label>
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions15" id="inlineRadio1" value="false">
                                        <label class="form-check-label" for="inlineRadio1">No</label>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Fuga en Bornes
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions16" id="inlineRadio1" value="true">
                                        <label style="padding:0px 10px 0px 0px" class="form-check-label" for="inlineRadio1">Si</label>
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions16" id="inlineRadio1" value="false">
                                        <label class="form-check-label" for="inlineRadio1">No</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    Densidad por Celda
                                    <br />

                                    <div class="form-check form-check-inline">
                                        <input class="form-control" type="number" name="NombreItem" id="txtCelda1" autocomplete="off" placeholder="C1">
                                        <input class="form-control" type="number" name="NombreItem" id="txtCelda2" autocomplete="off" placeholder="C2">
                                        <input class="form-control" type="number" name="NombreItem" id="txtCelda3" autocomplete="off" placeholder="C3">
                                        <input class="form-control" type="number" name="NombreItem" id="txtCelda4" autocomplete="off" placeholder="C4">
                                        <input class="form-control" type="number" name="NombreItem" id="txtCelda5" autocomplete="off" placeholder="C5">
                                        <input class="form-control" type="number" name="NombreItem" id="txtCelda6" autocomplete="off" placeholder="C6">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    CCA  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                    <div class="form-check form-check-inline" align="right">
                                        <input class="form-control" type="number" id="txtCca" placeholder="CCA">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">                      
                                <img src="~/Images/MoldeBateria.png" style="max-width:100%;width:auto;height:auto;" />                   
                                    <div align="center" style="padding:0px 10px 0px 10px">
                                        <input type="text" style="text-align: center; font-weight: bold" name="NombreItem" id="txtMsjGarantia" autocomplete="off" class="form-control" readonly>
                                    </div>
                               
                    </div>
                        <div class="col-md-4">
                            <div class="col-md-12">
                                <ul class="list-group">
                                    <li class="list-group-item active">Trabajo Realizado</li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Prueba Alta Resistencia
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="true">
                                            <label style="padding:0px 10px 0px 0px" class="form-check-label" for="inlineRadio1">Si</label>
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="false">
                                            <label class="form-check-label" for="inlineRadio1">No</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Cambio Acido
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="true">
                                            <label style="padding:0px 10px 0px 0px" class="form-check-label" for="inlineRadio1">Si</label>
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="false">
                                            <label class="form-check-label" for="inlineRadio1">No</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Recarga Bateria
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio1" value="true">
                                            <label style="padding:0px 10px 0px 0px" class="form-check-label" for="inlineRadio1">Si</label>
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio1" value="false">
                                            <label class="form-check-label" for="inlineRadio1">No</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Inspeccion Estructura Externa
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio1" value="true">
                                            <label style="padding:0px 10px 0px 0px" class="form-check-label" for="inlineRadio1">Si</label>
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio1" value="false">
                                            <label class="form-check-label" for="inlineRadio1">No</label>
                                        </div>
                                    </li>

                                </ul>
                                <ul class="list-group">
                                    <li class="list-group-item active">Diagnostico</li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Bateria en Buen Estado
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio1" value="true">
                                            <label style="padding:0px 10px 0px 0px" class="form-check-label" for="inlineRadio1">Si</label>
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio1" value="false">
                                            <label class="form-check-label" for="inlineRadio1">No</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Presenta Falla de Fabricacion
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio1" value="true">
                                            <label style="padding:0px 10px 0px 0px" class="form-check-label" for="inlineRadio1">Si</label>
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="inlineRadio1" value="false">
                                            <label class="form-check-label" for="inlineRadio1">No</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Dentro del Periodo de Garantia
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions7" id="inlineRadio1" value="true">
                                            <label style="padding:0px 10px 0px 0px" class="form-check-label" for="inlineRadio1">Si</label>
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions7" id="inlineRadio1" value="false">
                                            <label class="form-check-label" for="inlineRadio1">No</label>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Aplicacion y Uso Adecuado
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions8" id="inlineRadio1" value="true">
                                            <label style="padding:0px 10px 0px 0px" class="form-check-label" for="inlineRadio1">Si</label>
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions8" id="inlineRadio1" value="false">
                                            <label class="form-check-label" for="inlineRadio1">No</label>
                                        </div>
                                    </li>
                                    @*<li class="list-group-item d-flex justify-content-between align-items-center">
                        Aplica Garantia
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions9" id="inlineRadio1" value="true">
                            <label style="padding:0px 10px 0px 0px" class="form-check-label" for="inlineRadio1">Si</label>
                            <input class="form-check-input" type="radio" name="inlineRadioOptions9" id="inlineRadio1" value="false">
                            <label class="form-check-label" for="inlineRadio1">No</label>
                        </div>
                    </li>*@
                                </ul>
                            </div>
                        </div>

                        @*<div class="col-md-2">

        </div>*@

                    </div>
            </div>
            <div align="center">
                <button type="button" id="btnRegistrarRevision" class="btn btn-primary">Registrar</button>
                @*<button type="button" id="btnprueba" class="btn btn-primary">prueba</button>*@

            </div>
        </div>

    </div>
</div>


<input type="hidden" id="txtIdNumeroGarantia" />

