
@{
    ViewBag.Title = "LiberacionProductoLocalRegistrados";
    Layout = "~/Views/Compartida/_Layout.cshtml";
}
<br />
<div class="card shadow align-top">
    <div class="card-header">
        <h2>Pedidos Locales Registrados</h2>
        <br />
    </div>
    <div class="card-body">
        <div id="MensajeEliminacionIncorecta" class="alert alert-danger collapse">
            <button id="LinkClose12" type="button" class="close">&times;</button>
            <strong>Error al Eliminar!</strong>
        </div>
        <div id="MensajeGuardado" class="alert alert-primary collapse">
            <button id="LinkClose5" type="button" class="close">&times;</button>
            <strong>Liberacion éxitosa!!</strong>
        </div>
        <div id="MensajeErrorGuardado" class="alert alert-danger collapse">
            <button id="LinkClose6" type="button" class="close">&times;</button>
            <strong>Error de Guardad0!!</strong>
        </div>
        <div id="MensajeErrorGeneral" class="alert alert-danger collapse">
            <button id="LinkClose7" type="button" class="close">&times;</button>
            <strong>Error General!!</strong>
        </div>
        <div id="MensajeErrorInesperado" class="alert alert-danger collapse">
            <button id="LinkClose2" type="button" class="close">&times;</button>
            <strong>Error Inesperado!</strong>
        </div>
        <div id="MensajeActulalizacionCorrecta" class="alert alert-primary collapse">
            <button id="LinkClose9" type="button" class="close">&times;</button>
            <strong>Actualizacion exitosa</strong>
        </div>
        <div id="MensajePackingSinDetalle" class="alert alert-danger collapse">
            <button id="LinkClose10" type="button" class="close">&times;</button>
            <strong>El packing list aun no se puede liberar porqué se encuentra incompleto o la cantidad de mediciones no es la correcta !</strong>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div id="tblIngresosdePacking"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalAfirmacionLiberacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header alert-primary">
                <h5 class="modal-title" id="exampleModalLongTitle">Esta seguro de realizar la liberacion del pedido?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfirmarLiberacion()">Si</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div id="ModalAgregarMedicionPallets" class="modal fade" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="lblPalletDetalle">Registro Medición</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="MensajeCompleteCampos" class="alert alert-danger collapse">
                    <button id="LinkClose10" type="button" class="close">&times;</button>
                    <strong>Complete todos los campos!</strong>
                </div>
                <div id="MensajeGuardadoMedicion" class="alert alert-success collapse">
                    <button id="LinkClose11" type="button" class="close">&times;</button>
                    <strong>Guardado Éxitoso!</strong>
                </div>
                <div id="MensajeErrorGuardadoMedicion" class="alert alert-danger collapse">
                    <button id="LinkClose12" type="button" class="close">&times;</button>
                    <strong>Error de Guardado!</strong>
                </div>
                <div id="MensajeEliminacionCorectaMedicion" class="alert alert-danger collapse">
                    <button id="LinkClose13" type="button" class="close">&times;</button>
                    <strong>Eliminacion correcta!</strong>
                </div>
                <div id="MensajeErrorELiminacion" class="alert alert-danger collapse">
                    <button id="LinkClose14" type="button" class="close">&times;</button>
                    <strong>Ocurrio un error al tratar de eliminar la medición!</strong>
                </div>
                <div class="form-row">
                    <div class="col-md-3">
                        <label for="inputEmail4">Modelo</label>
                        <select class="form-control" aria-label="Default select example" id="txtModelo" style="width:100%">
                            <option value="" selected="selected">--Seleccione el modelo--</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="inputEmail4">Numero Lote</label>
                        <input type="text" class="form-control" id="txtNumeroLote" placeholder="Numero Lote">
                    </div>
                    <div class="col-md-3">
                        <label for="inputEmail4">Voltaje</label>
                        <input type="number" class="form-control" id="txtVoltaje" placeholder="Numero Lote">
                    </div>
                    <div class="col-md-3">
                        <label for="inputEmail4">CCA</label>
                        <input type="number" class="form-control" id="txtCCA" placeholder="CCA">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3">
                        <label for="inputPassword4">Nivel Electrolito</label>
                        <select class="form-control" aria-label="Default select example" id="txtNivel" style="width:100%">
                            <option value="" selected="selected">--Seleccione--</option>
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="inputPassword4">Etiquetado</label>
                        <select class="form-control" aria-label="Default select example" id="txtEtiquetado" style="width:100%">
                            <option value="" selected="selected">--Seleccione--</option>
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="inputPassword4">Limpieza</label>
                        <select class="form-control" aria-label="Default select example" id="txtLimpieza" style="width:100%">
                            <option value="" selected="selected">--Seleccione--</option>
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="inputEmail4">Anexos</label>
                        <input type="file" accept=".jpg,.png,.jpeg,.gif,.pdf,.xlsx,docx,.doc,pptx" class="form-control-file" id="txtAnexos" @*onchange="ValidarTipoImagen(this);"*@ multiple>
                    </div>
                </div>
                <br />

                <div class="form-row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" onclick="RegistrarMedicion()">Registrar</button>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <br />
                <div class="form-row">
                    <div id="tblListadoMedicionesPallets"> </div>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
    </div>
</div>
