
@{
    ViewBag.Title = "ReporteLiberadosLocales";
    Layout = "~/Views/Compartida/_Layout.cshtml";
}
<style>
    #tblLiberadosPacking {
        margin-top: 20px;
    }

    .currency {
        text-align: center;
    }

</style>
<br />
<div class="card shadow align-top">
    <div class="card-header">
        <h2>Promedios Mediciones Locales</h2>
        <br />
    </div>
    <div class="card-body">
        <div id="MensajeEliminacionCorecta" class="alert alert-danger collapse">
            <button id="LinkClose11" type="button" class="close">&times;</button>
            <strong>Eliminacion correcta!</strong>
        </div>
        <div id="MensajeEliminacionIncorecta" class="alert alert-danger collapse">
            <button id="LinkClose12" type="button" class="close">&times;</button>
            <strong>Error al Eliminar!</strong>
        </div>
        <div id="MensajeGuardado" class="alert alert-primary collapse">
            <button id="LinkClose5" type="button" class="close">&times;</button>
            <strong>Liberacion éxitosa!!</strong>
        </div>
        <div id="MensajeErrorGuardado" class="alert alert-danger collapse">
            <button id="LinkClose6" type="button" class="close">&times;</button>
            <strong>Error de Guardad0!!</strong>
        </div>
        <div id="MensajeErrorGeneral" class="alert alert-danger collapse">
            <button id="LinkClose7" type="button" class="close">&times;</button>
            <strong>Error General!!</strong>
        </div>
        <div id="MensajeErrorInesperado" class="alert alert-danger collapse">
            <button id="LinkClose2" type="button" class="close">&times;</button>
            <strong>Error Inesperado!</strong>
        </div>
        <div id="MensajeActulalizacionCorrecta" class="alert alert-primary collapse">
            <button id="LinkClose9" type="button" class="close">&times;</button>
            <strong>Actualizacion exitosa</strong>
        </div>
        <div id="MensajePackingSinDetalle" class="alert alert-danger collapse">
            <button id="LinkClose10" type="button" class="close">&times;</button>
            <strong>El packing list aun no se puede liberar porqué se encuentra incompleto o la cantidad de mediciones no es la correcta !</strong>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <div id="pivotgrid-chart"></div>
                    <div id="tblLiberadosPacking"></div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModalListadoDePallets" class="modal fade" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="lblPalletsIngresados">Listado Pallets</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="tblListadoPalletsIngresados"> </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="ModalAgregarMedicionPallets" class="modal fade" role="dialog" style="overflow-y: scroll;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="lblPalletDetalle">Pallet</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="tblListadoMedicionesPallets"> </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>